repos:
  - repo: local
    hooks:
      - id: pytest-testmon
        name: pytest-testmon
        entry: python -m pytest --testmon -x -q --tb=short
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-commit]
