# google-generativeai
# semgrep
GitPython
Pillow
PyYAML
Pyarrow
accelerate
aiohttp
ansi-escapes
anthropic
attrdict
attrdict
bitsandbytes
bitsandbytes
black
bs4
bs4
catboost
chardet
docutils
docutils<0.18
einops
epc
fairscale
fairscale
fastapi
fastapi
flake8
flask
geom_median
google-genai
google-search-results
googlesearch-python
groq
groq
h5py
html2text
icecream
ipdb
ipython
isort
jedi
joblib
joypy
julius
llama-stack
llama-stack
lxml
lxml_html_clean
markdown
markdown2
matplotlib
matplotlib-venn
mne
more-itertools
natsort
numpy
obspy
openai
openpyxl
optuna
packaging
pandas
pebble 
pebble 
platformdirs
plotly
plyer
psutil
psycopg2-binary
pybids
pyedflib
pygments
pygments
pyls
pymatreader
pyperclip
pyright
pytest
pytest-cov
pytest-env
pytest-xdist
python-docx
python-lsp-server
pytorch_pretrained_vit
readability
readability-lxml
readchar
reportlab
requests
requests
ripple_detection
ruamel.yaml
ruff-lsp
scikit-image
scikit-learn
scipy
seaborn
selenium
setuptools
six
sktime
sounddevice
sphinx
sphinx # <4.5.0
sqlalchemy
statsmodels # Please ignore this package due to incompatibility with recent versions of numpy*
sympy
tabulate
tensorpac
termplotlib
timeout-decorator 
timeout-decorator 
tk
tldr
torch
torchaudio
torchsummary
torchvision
transformers
twine
umap-learn
webdriver-manager
wheel
xarray # Please ignore this package due to incompatibility with recent versions of numpy*
xlrd
xmltodict
streamlit
